<div class="quote-section">

    <h3 class="heading">Good design is finding that perfect balance between the way something <span style="color: #ff4d00;">looks</span> and how it  <span style="color: #ff4d00;">functions </span>. Everything we build starts and ends with craftsmanship, that's why our <br> clients trust us.</h3>
        <button class="btn custom-btn px-3 py-3">Get Started</button>
</div>
<!-- <div class="client-section">
    <h2 class="clientName">What our clients are saying?</h2>
    <div class="line"></div>
</div> -->

