<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EZ Software Hub</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
        <!-- bootstrap 5.0.1 -->
        <link rel="stylesheet" href="/ext_libs/bootstrap-5.0.1/bootstrap-5.0.1/dist/css/bootstrap.min.css">
        <!-- css from old file -->
        <link rel="stylesheet" href="/css/old/site.css">
        <link rel="stylesheet" href="/css/old/home.css">
        <link rel="stylesheet" href="/css/footer.css">

        <!-- js -->

        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/nav.js"></script>

        <script src="https://kit.fontawesome.com/1aa2271ee2.js" crossorigin="anonymous"></script>
        <!-- bootstrap js -->

        <script src="/ext_libs/bootstrap-5.0.1/bootstrap-5.0.1/dist/js/bootstrap.bundle.min.js"></script>

        <!-- type text animation -->
        <script src="/js/section1.js"></script>

    </head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="main-div main-bg vh-100">
            <h1 class="txt first-txt">We build software designed&nbsp;</h1>
            <div class="wrap">
    
            <span class="txt second-txt" style="color: #ff4c29;"></span>
           
            </div>
        <p class="text-danger">"Innovating Code, Creating Future"</p>
    
        <button class="btn custom-btn px-3 py-3"><a style="text-decoration: none;color: inherit;" href="#main-content">Find out more</a></button>
           
    </div>
    
    
    <div class="services-sec" id="main-content">
        <h2 class="serviceName">Our Services</h2>
        <div class="line"></div>
        <div class="services">
            <div class="info-box">
                <i class="fa-solid fa-mobile custom-icon" style="color: #ff4d00;"></i>
                <h3 class="firstService">Mobile Applications</h3>
                <p class="infopara">We build iOS and Android apps using the latest  technology - React Native. This means you get  two apps at  almost the same time.</p>
            </div>
            <div class="info-box">
                <i class="fa-solid fa-cloud custom-icon" style="color: #ff4d00;"></i>
                <h3>Web Applications</h3>
                <p class="infopara">From social networking sites to live video streaming platforms, we have experience in building all types of web applications.    </p>
            </div>
            <div class="info-box">
                <i class="fa-solid fa-desktop custom-icon" style="color: #ff4d00;"></i>
                <h3>Custom Websites</h3>
                <p class="infopara">Whether you are looking to create an online presence for your brand or  expand  your organization's reach,  our custom websites will fit your needs.</p>
            </div>
        </div>  
    </div>
    
    
    
    <div class="product-sec ">
        <h2 class="productName">Products</h2>
        <div class="line"></div>
        <div class="services">
            <div class="info-box">
                <i class="fa-solid fa-dumbbell custom-icon"></i>
                <h3 class="firstService">EZ Gym</h3>
                <p class="infopara">We build iOS and Android apps using the latest  technology - React Native. This means you get  two apps at  almost the same time.</p>
            </div>
            <div class="info-box">
                <i class="fa-solid fa-money-bill-trend-up custom-icon"></i>
                <h3>EZ Billing</h3>
                <p class="infopara">From social networking sites to live video streaming platforms, we have experience in building all types of web applications.    </p>
            </div>
            <div class="info-box">
                <i class="fa-solid fa-warehouse custom-icon"></i>
                <h3>EZ Inventory</h3>
                <p class="infopara">Whether you are looking to create an online presence for your brand  or  expand  your organization's reach, our custom websites will fit your needs.</p>
            </div>
        </div>  
    </div>
    </main>
    <%- include('partials/midcontent') %>
    <%- include('partials/footer') %>
</body>
</html>


