*{
    margin:0;
    padding:0;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}



.nav-position {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-bg {
    /*FF8E53*/
    /*F3511F*/

    background-image: linear-gradient(rgb(59,28,17),rgb(59,32,22));
}

.actionbtn {
    background-color: transparent;
    color: #f8f8f8;
}

    .actionbtn:hover {
        background-color: #f8f8f8;
        color: #000;
    }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Ubuntu&family=Varela+Round&display=swap');


footer .container
{
    background-color: black;
}
.row
{
    display: flex;
    justify-content: space-between;
    padding: 40px 3em ;
}
.footer-col ul
{
    list-style: none;
}
.footer-col  h4
{
    color: white;
    margin-bottom: 25px;
    font-size: 1.5em;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
.footer-col  h4::before
{
    content: '';
    width: 3em;
    height: 2px;
    position:absolute;
    background-color: #e91e64;
    bottom: -10px;
}
.footer-col ul li
{
    padding: 1em 0;
}
.footer-col ul li a 
{
    color: white;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: all 0.5s;
}
.footer-col ul li a:hover
{
    opacity: 1;
}
.footer-col input
{
    border: none;
    width: 30%;
    height: 3em;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
    border-radius: 10px;
}
.submit-btn
{
    width: 30%;
    height: 3em;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 5px;   
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.5s;
}
.submit-btn:hover
{
    color: rgb(255, 72, 0);
    background-color: white;
    border: none;
}
.col p 
{
    color: white;
}
.row hr
{
    opacity: 0.7;
}
.row .social-icons i
{
    display: inline-block;
    color: white;
    font-size: 2em;
    margin:0 0.5em;
    transition:all 0.5s;
}
.row .social-icons i:hover
{
    color: rgb(255, 72, 0);
}

@media (max-width: 1000px)
{
    footer .row
    {
        flex-wrap: wrap;
        padding: 1em 2em;
    }
    footer .footer-col ul
    {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .footer-col input
    {
        width: 100%;
    }
}